.sidebar {
  background: #272727;
  color: white;
  min-height: 100vh;
  padding: 24px 16px;
}

.sidebar .nav-link {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 12px 14px;
  margin-bottom: 8px;
  transition: 0.2s ease;
  text-decoration: none;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.dashboard {
  display: flex;
}

.content {
  padding: 20px;
  padding-top: 0px !important;
}

    .d-lg-flex {
flex-direction: column;
    }
@media (max-width: 768px) {
  .flex-column {
    display: flex;
            flex-wrap: nowrap !important;
        flex-direction: row !important;
  }

  .sidebar {
    min-height: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  .nav-link {
    padding: 6px !important;
    margin: 6px !important;
  }
  .subheader-creator {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
  }
}








