<p class="h4">Explorar Mapas</p>
<hr>

<div class="mb-4 d-flex">
  <input #searchInput type="text" class="form-control me-2" placeholder="Buscar mapas..."
    (keyup.enter)="onSearch(searchInput.value, orderSelect.value)">
  
  <select #orderSelect class="form-select me-2" style="width: auto;" (change)="onSearch(searchInput.value, orderSelect.value)">
    <option value="normal">Sin Filtro</option>
    <option value="likes">Más Likes</option>
    <option value="reciente">Más Reciente</option>
    <option value="alfabetico">A-Z</option>
  </select>

  <button class="btn btn-primary d-flex align-items-center justify-content-center"
    (click)="onSearch(searchInput.value, orderSelect.value)">
    <img src="magnifying-glass-solid-full.svg" width="16" height="16" style="filter: brightness(0) invert(1);">
  </button>
</div>

<ng-container *ngIf="!loading && !errorLoading; else statusTemplate">

  <div *ngIf="valores.length === 0" class="alert alert-danger" role="alert">
    No se han encontrado mapas con ese nombre o filtro.
  </div>

  <div *ngIf="valores.length > 0" class="row addon-row">
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let addonCard of valores">
        <a class="card-ancore" [routerLink]="['/addon', addonCard.id]">
          <div class="card">
            <img [src]="addonCard.urlMiniatura" class="card-img-top" alt="Image of {{ addonCard.nombre }}">
            <div class="card-body">
              <h5 class="card-title">{{ addonCard.nombre }} </h5>
              <p class="card-text">{{ addonCard.descripcion | slice:0:100 }}{{
                (addonCard.descripcion?.length ?? 0) > 100 ? '...' : '' }}</p>
              <span class="category-container d-block mt-2">
                <span *ngFor="let nombre of addonCard.nombresCreadores"
                  class="badge bg-dark-subtle text-dark-emphasis rounded-pill me-1">
                  Por {{ nombre }}
                </span>
                <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">{{addonCard.tipo}}</span>&nbsp;
                <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">{{addonCard.tag}}</span>
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #statusTemplate>
  <div class="spinner-carga" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <p *ngIf="errorLoading">Error al cargar mapas. Recarga la página.</p>
</ng-template>
