<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary d-flex align-items-center  texto-footer">
        © 2026 Add-Ons MCenter
    </p>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary d-flex align-items-center texto-footer" routerLink="/ranking">
                <img src="trophy-solid-full.svg" width="16" height="16" class="me-2"> Rankings
            </a>
        </li>
        <span class="mark-divisor dark" ></span>
        <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary d-flex align-items-center texto-footer" routerLink="/contact">
                <img src="user-solid-full.svg" width="16" height="16" class="me-2"> Contacto
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 text-body-secondary d-flex align-items-center texto-footer" routerLink="/about">
                <img src="book-solid-full.svg" width="16" height="16" class="me-2"> Privacidad
            </a>
        </li>
    </ul>
</footer>