
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary"><i class="fa-regular fa-copyright"></i>2026 Add-Ons MCenter</p>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a  class="nav-link px-2 text-body-secondary" routerLink="/"><i class="fa-solid fa-home"></i> Home</a></li>
        <li class="nav-item"><a  class="nav-link px-2 text-body-secondary" routerLink="/contact"><i class="fa-solid fa-user"></i> Contact</a></li>
        <li class="nav-item"><a  class="nav-link px-2 text-body-secondary" routerLink="/about"><i class="fa-solid fa-book"></i> About</a></li>

    </ul>
</footer>