<ng-container *ngIf="loading">
  <p>Cargando addon...</p>
</ng-container>

<ng-container *ngIf="!loading && !valoresAddon">
  <p>No se encontró el addon.</p>
</ng-container>

<ng-container *ngIf="!loading && valoresAddon">
  <div class="row">
    <div class="col-8">
      <img [src]="valoresAddon.urlMiniatura" class="img-fluid rounded" alt="Image of {{ valoresAddon.nombre }}">
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">{{ valoresAddon.nombre }}</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ valoresAddon.descripcion }}</li>
          <li class="list-group-item">{{ valoresAddon.likes }}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>