<p class="h4">Ultimos Add-Ons</p>
<hr>

<ng-container *ngIf="!loading && !errorLoading; else statusTemplate">
  <div id="addon-row" class="row addon-row" data-masonry="{&quot;percentPosition&quot;: true }">
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let addonCard of valores">
        <a class="card-ancore" [routerLink]="['/addon', addonCard.id]">
          <div class="card">
            <img [src]="addonCard.urlMiniatura" class="card-img-top" alt="Image of {{ addonCard.nombre }}">
            <div class="card-body">
              <h5 class="card-title">{{ addonCard.nombre }} </h5>
              <p class="card-text">{{ addonCard.descripcion }}</p>
              <span class="category-container">
                <!-- <span class="badge bg-dark-subtle text-dark-emphasis rounded-pill">Creador Por {{ addon.creador}}</span> -->
                <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">Categoria 1</span> <span
                  class="badge bg-warning-subtle text-warning-emphasis rounded-pill">Categoria 2</span><span
                  class="badge bg-warning-subtle text-warning-emphasis rounded-pill">Categoria 3</span>
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #statusTemplate>
  <p *ngIf="loading">Cargando...</p>
  <p *ngIf="errorLoading">Error al cargar addons. Recarga la página.</p>
  <p *ngIf="!loading && !valores.length && !errorLoading">No hay addons disponibles.</p>
</ng-template>